.header {
  position: sticky;
  top: 0;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.header .filter {
  display: flex;
  align-items: center;
  gap: 20px;
}
